
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
    background-color: black;
    width: 700px;
    margin: 0 auto;
    background-image: url('../img/dogbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
}

img{
    width: 70px;
}

fieldset{
    background-color: white;
    opacity: .75;
    margin: 10px;
}

button{
    font-size: 3em;
    font-family: permanent marker, sans-serif;
    border: none;
    background-color: transparent;
    color: white;
}

button:hover{
    color: red;
}

h1{
    font-family: permanent marker, sans-serif;
    font-size: 3em;
    color: white;
}