@import url('https://fonts.googleapis.com/css?family=Pacifico');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


.getting_git{
    width: 100%;
    margin: 0 auto;
    background-color: #DE3338;
    opacity: .85;
    height: 800px;
}
.getting_git>h1{
    font-family: pacifico, sans-serif;
    color: white;
    text-align: center;
    font-size: 6em;
    padding-top: 5%;
}

.getting_git>p{
    color: white;
    opacity: .8;
    text-align: center;
    padding-top: 2%;
}

.getting_git>hr{
    width: 75px;
    color: white;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2%;
}

.getting_git>button{
    font-size: 1em;
    color: white;
    background-color: transparent;
    padding: 1%;
    position: relative;
    margin-top: 1%;
    left: 45%;
    text-align: center;
}

button:hover{
    background-color: white;
    color: #DE3338;
}

h4{
    text-align: center;
    color: white;
    margin-top: 2%;
}
