
@media screen and (min-width:365px) {

        * {
            box-sizing: border-box;
        }

        body {

            font-family: sans-serif;
            padding: 2%;
        }

        li{
            list-style: none;
            background-color: lightgrey;
            margin-bottom: 5%;
            text-align: center;
            padding: 5%;
        }

        h1{
            text-align: center;
            padding: 5%;
        }

        footer>p{
            float: left;
        }

        .nav-links{
            padding: 1%;
        }

        .alert-info{
            background-color: lightblue;
            text-align: center;
            padding: 5%;
            color: black;
        }

        .alert-info>a{
            color: black;
            text-decoration: none;
        }

        .sub-section{
            font-style: italic;
        }

        #social-media-links{
            float: right;
            margin-bottom: 5%;
            padding: 1%;
        }

        #social-media-links a:visited{
            color: black;

        }

        .sm-row{
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            height: 100%;
            margin-bottom: 2%;
        }

        .container{
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }

    }


@media screen and (min-width:500px) {


    li{
        background-color: transparent;
        display: inline-block;
        padding: 5px;
        margin-bottom: 0;
    }
    
    h1{
        text-align: left;
        padding: 0;
    }

    ul{
        text-align: right;
    }

    footer>p{
        float: left;
    }

    .alert-info{
        display: none;
    }

    .container{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .nav-links{
        float: right;
        display: inline;
        padding: 0;
        margin: 0;
    }

    .sub-section{
        margin-left: 15%;
    }

    .sm-row{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        height: 100%;

    }

    .row{
        width: 100%;
        max-width: 80%;
        margin: 0 auto 2% auto;
        height: 100%;
    }

    .one-half {
        width: 50%;
        height: 100%;
    }

    .right{
        float: right;
    }
    
    .left{
        float: left;
    }

    .one-third {
        width: 33.33%;
        height: 100%;
        float: left;

    }

    .one-fourth {
        width: 50%;
        height: 100%;
        max-width: 100%;

    }


}