body{
    width: 1125px;
    margin: 0 auto;
    background-image: url('../img/realestate.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: sans-serif;

}

button{
    font-size: 1.5em;
    margin-bottom: 40px;
}

header h1{
    text-align: center;
    font-size: 4em;
    background-color: lightgrey;
    opacity: .9;
    font-style:italic;


}
h1{
    text-align: left;
    color: #0C4767;
    text-decoration: underline;
}

header{
    text-decoration: underline;
    color: #0C4767;

}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

fieldset{
    background-color: lightgrey;
    opacity: .9;
    margin-top: .5%;
}

button{
    background-color: transparent;
    font-size: 4em;
    font-weight: bold;
    color: white;
    border: none;
    margin-right: 25%;
}

button:hover{
    color: lime;
}

.clear:hover{
    color: red;
}
