@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

*{
    box-sizing:border-box;
}


body{
    width: 50%;
    margin: 0 auto;
    background-image: url('../img/pizza.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    font-family: sans-serif;

}


fieldset{
    background-color: white;
    opacity:.85;
    margin-top: 2%;
}

h1{
    font-family: permanent marker, sans-serif;
    color: red;
    text-decoration: underline;
}

button{
    margin-top: 2%;
    font-size: 2em;
    font-family: permanent marker, sans-serif;
    background-color: transparent;
    color: red;
    border: none;
}

button:hover{
    color: blue;



}

